.login {
  margin: auto;
  width: 150px;
  border: medium solid #4b0082;
  padding: 10px;
}

.center {
  margin: auto;
  padding-top: 10px;
  text-align: center;
}

button {
  width: 100%;
}

mat-form-field {
  width: 100%;
}