<div>
  <mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/home/create']">
        Create Article
      </button>
      <button mat-menu-item>Log Out</button>
    </mat-menu>
    <span>List Articles</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      [routerLink]="['/home/list']"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div class="padding">
  <button
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
    [routerLink]="['/home/create']"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="padding">
  <h1>Title</h1>
  <ul *ngFor="let articles of loadLocalStorage">
    <li (click)="param(articles.title)">
      <b>{{ articles.title }} </b> : {{ articles.content }}
      <button (click)="deleteArticle(articles)" class="buttonred">
        delete
      </button>
      <button [routerLink]="['/home/edit', articles.title]" class="buttongreen">
        Edit
      </button>
    </li>
    <hr />
  </ul>
</div>
