<div class="register">
  <h1 class="center">Register</h1>
  <form [formGroup]="registerForm">
    <div>
      Username<br />
      <mat-form-field>
        <mat-label>Enter Username</mat-label>
        <input
          matInput
          placeholder="Enter Username"
          formControlName="username"
        />
      </mat-form-field>
    </div>

    <div>
      Password<br />
      <mat-form-field>
        <mat-label>Enter Password</mat-label>
        <input
          matInput
          placeholder="Enter Password"
          formControlName="password"
        />
      </mat-form-field>
    </div>

    <div>
      Repeat Password<br />
      <mat-form-field>
        <mat-label>Enter Repeat Password</mat-label>
        <input
          matInput
          placeholder="Enter Repeat Password"
          formControlName="repeatPassword"
        />
      </mat-form-field>
    </div>

    <div>
      Fullname
      <mat-form-field>
        <mat-label>Enter Fullname</mat-label>
        <input
          matInput
          placeholder="Enter Fullname"
          formControlName="fullname"
        />
      </mat-form-field>
    </div>

    <div>
      E-mail<br />
      <mat-form-field>
        <mat-label>Enter E-mail</mat-label>
        <input matInput placeholder="Enter E-mail" formControlName="email" />
      </mat-form-field>
    </div>

    <div>
      Adress<br />
      <mat-form-field>
        <mat-label>Enter Address</mat-label>
        <input matInput placeholder="Enter Adress" formControlName="address" />
      </mat-form-field>
    </div>

    <div formGroupName="phones">
      Phone<br />
      <div
        *ngFor="let phone of phoneInputs.controls; let i = index"
        [formGroupName]="i"
      >
        <mat-form-field>
          <mat-label>Enter Phone</mat-label>
          <input matInput placeholder="Enter Phone" formControlName="line" />
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="addPhone()">
        add Phone Number
      </button>
    </div>

    <button mat-raised-button color="primary" (click)="Form()">Register</button>
    <button mat-button color="primary" [routerLink]="['/login']">
      Login
    </button>
  </form>
</div>
