<div class="register">
  <h1 class="center">Register</h1>
  <form [formGroup]="registerForm">
    <section>
      Username<br />
      <mat-form-field>
        <mat-label>Enter Username</mat-label>
        <input
          matInput
          placeholder="Enter Username"
          formControlName="username"
        />
      </mat-form-field>
    </section>

    <section>
      Password<br />
      <mat-form-field>
        <mat-label>Enter Password</mat-label>
        <input
          matInput
          placeholder="Enter Password"
          formControlName="password"
        />
      </mat-form-field>
    </section>

    <section>
      Repeat Password<br />
      <mat-form-field>
        <mat-label>Enter Repeat Password</mat-label>
        <input
          matInput
          placeholder="Enter Repeat Password"
          formControlName="repeatPassword"
        />
      </mat-form-field>
    </section>

    <section>
      Fullname
      <mat-form-field>
        <mat-label>Enter Fullname</mat-label>
        <input
          matInput
          placeholder="Enter Fullname"
          formControlName="fullname"
        />
      </mat-form-field>
    </section>

    <section>
      E-mail<br />
      <mat-form-field>
        <mat-label>Enter E-mail</mat-label>
        <input matInput placeholder="Enter E-mail" formControlName="email" />
      </mat-form-field>
    </section>

    <section>
      Adress<br />
      <mat-form-field>
        <mat-label>Enter Address</mat-label>
        <input matInput placeholder="Enter Adress" formControlName="address" />
      </mat-form-field>
    </section>

    <section>
      Phone<br />
      <mat-form-field>
        <mat-label>Enter Phone</mat-label>
        <input matInput placeholder="Enter Phone" formControlName="phone" />
      </mat-form-field>
    </section>

    <button mat-raised-button color="primary" >Register</button>
    <button mat-button color="primary" [routerLink]="['/login']">
      Login
    </button>
  </form>
</div>
